
h2,h3{
    text-align: center;
    font-weight: bolder;
    font-style: italic;
    font-variant: small-caps;
}
h1{
  text-align: center;
  margin:100px;
  color: rgb(22, 88, 13);
  
}
.container-fluid{
padding: 10px;
margin: 80px;
border: 2px solid black;
background-color: rgb(94, 158, 201);
color: rgb(8, 8, 8);
font-weight: bolder;
}
#btn{
  margin-left: 500px;
}
#fname{
    border: 1px solid black;
}
tr,td{
  border: 2px solid black;
}
table{
  border-collapse: collapse;
  margin-left:300px;
  border:3px solid blue;
  width:50%;
}
#a{
  font-weight: bolder;
}
#last{
  margin-left: 650px;
  margin-top: 20px;
}
body{
    background-color: rgb(100, 99, 99);
}
#k
{
  color: aliceblue;
  font-size: 30px;
  font-style: italic;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}